selector header {

    color: white;

}

/*LOGO PREMIERLATEC*/
.logo {

    position: absolute;
    top: 25px;
    left: 20px;
    text-align: left;
    flex-wrap: wrap;

}

/*Body*/

body {
    
    background-image:linear-gradient(to top , black,black);
}


/*Portada Inicio*/

.portada {

    position: relative;
    display: flex;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}





/*Lista Secciones*/

 ul li {
 
    padding: 40px 20px 40px 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}


label{
    color: white;
}



/*container*/

  

  #carouselExampleIndicators{

    position: relative;
    display: flex;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }


  .container{
      margin-top: 100px;
  }

    




/*container*/

ul li:hover{
    transform: scale(1,1.5);
    transition: 1s;
}

.secciones {
    position: absolute;
    display: flex;
    top: -20px;
    right: 20px;
    text-align: right;
    list-style: none;
    
}

a{
    color: whitesmoke;
    text-decoration: none;
    
}

a:hover{

    transform: scale(2,2);
    color: red;

}



/*Transiciones*/



h3 {
    color: rgb(243, 241, 241);
    text-align: left;
    position: absolute;
    margin-left: 50px;
    
}


/*contenedor*/

.padre {
    display: grid;
    flex-direction: column;
    grid-template-columns: auto;
    padding: 10 px;
    width: 100%;
    max-width: 100%;

    grid-template-areas:
        "imagen1 parrafo1"
        "imagen2 parrafo2"
        "imagen3 parrafo3"
    ;
}

.imagen1 {
    position: relative;
    display: flex;
    top: 50px;
    left: 40 px;
    text-align: center;
    grid-area: imagen1;
    height: 100px;
    transition: height 2s;
    
}

.imagen1:hover{
    height: 200px;
}


.parrafo1 {
    position: relative;
    top: 40px;
    ;
    grid-area: parrafo1;
}

.imagen2 {
    position: relative;
    display: flex;
    top: 50px;
    left: 40 px;
    text-align: center;
    grid-area: imagen2;
    height: 100px;
    transition: height 2s;
}

.imagen2:hover{
    height: 200px;
}

.parrafo2 {

    position: relative;
    top: 40px;
    ;
    grid-area: parrafo2;

}

p {
    text-align: center;
    margin-top: 10px;
    color: white;
}

.imagen3 {
    position: relative;
    top: 40px;
    left: 40 px;
    text-align: center;
    grid-area: imagen3;
}

.parrafo3 {

    position: relative;
    top: 40px;
    ;
    grid-area: parrafo3;
    display: block;

}


/*Termino padre e hijo*/


.padre-flex {

    position: absolute;
    display: flex;
    top: -20px;
    right: 20px;
    text-align: right;
    list-style: none;
}



.primerparrafonosotros {

    margin-top: 200px;
    position: relative;
    display: block;

}



h2 {

    color: red;
    text-align: center;
    margin-top: 20px;

}







h4{

    color: white;
    position: absolute;
}

footer{
    margin-top: 200px;
    text-align: end;
}








#destacado {
    font-weight: bold;

}


* {
    margin: 0;
    padding: 0;

}

